body{
    background:rgb(240,240,240);
    font-size: 100%;   
}




/* HEADER STYLE SECTION*/
#header{
    display:flex;
    justify-content:space-between;
    background:rgb(240,240,240);
    position:fixed;
    width:100%;
    height:40px;
    margin-top: -80px;
    
}

#header-img{
    width:30%;
    height:40px;
    margin-top:10px;
}

#header #nav-bar ul{
   display: flex;
   margin-right:5em;
}

#header #nav-bar ul li {
    list-style-type:none;
    padding-left:2em;
    
}


#header #nav-bar ul li a{
    text-decoration:none;
    color:black;
}

/* END OF HEADER STYLE SECTION*/

* MAIN SECTION STYLE*/
main{
    text-align:center;
    color:rgb(59, 56, 56);
    margin-top:80px;
    margin-bottom:50px;
}
main input{
    width:300px;
}
main #submit{
    background:rgb(255, 196, 0);
    padding:4px;
    padding-left:30px;
    padding-right:30px;
    margin-top:20px;
    font-size:14px;
    font-weight: bold;
}

/* END OF THE MAIN SECTION*/
